body {
  margin: 0;
  background-image: url("./assets/images/storm.jpg");
  background-size: cover;

  height: 100vh;
}

.day-bg {
  background-image: url("./assets/images/Day.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: -8px;
  padding: 0;
}
.night-bg {
  background-image: url("./assets/images/Night.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-top: -8px;
  padding: 0;
}

#backArrow {
  position: relative;
  margin-top: 2%;
  margin-left: 2%;
  background: #fff;
  border-radius: 50%;
  padding: 1px;
  opacity: 0.9;
  cursor: pointer;
}

#backArrow:hover {
  opacity: 0.7;
}

#changeTemp {
  float: right;
  position: relative;
  color: #fff;
  margin-top: 2%;
  margin-right: 2%;
  cursor: pointer;
  text-decoration: underline;
}

footer {
  font-family: "Roboto", "sans-serif";
  color: #fff;
  text-shadow: 1px 1px 12px #000;

  font-size: 1em;

  cursor: pointer;

  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
